@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

/* Resettings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

img, picture {
	max-width: 100%;
	display: block;
	line-height: 0;
}

button, input, select, textarea {
	font: inherit;
}

button {
	all: unset;
	cursor: pointer;
}

/* Colors */
:root {
	/* Primary */
	--blue: hsl(223, 87%, 63%);
	/* Secondary */
	--pale-blue: hsl(223, 100%, 88%);
	--light-red: hsl(354, 100%, 66%);
	/* Neutral */
	--gray: hsl(0, 0%, 59%);
	--very-dark-blue: hsl(209, 33%, 12%);
}

/* General settings */
* {
	font-size: 20px;
}

html {
	width: 100%;
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Libre Franklin';
	width: 100%;
	height: 100%;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main h1 {
	color: var(--gray);
}

.highlight {
	color: var(--very-dark-blue);
}

main h2 {
	color: var(--very-dark-blue);
}

main form {
	display: flex;
	justify-content: space-between;
}

main form input[type=email] {
	border: 1px solid lightgray;
	border-radius: 30px;
	color: var(--very-dark-blue);
	transition: 0.2s;
	outline: none;
}

main form input[type=submit] {
	border: none;
	border-radius: 30px;
	background-color: var(--blue);
	color: white;
	box-shadow: 0 10px 20px -10px lightgray;
	transition: 0.2s;
}

main form input[type=submit]:hover {
	background-color: var(--pale-blue);
	cursor: pointer;
}

figure {
	width: 100%;
	display: flex;
	justify-content: center;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer article {
	display: flex;
	justify-content: center;
	width: 100%;
}

footer article a {
	border: 1px solid lightgray;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer article a {
	color: var(--blue);
	text-decoration: none;
	transition: 0.2s;
}

footer article a i {
	border-radius: 50%;
}

footer article a:hover {
	background-color: var(--blue);
	color: white;
	border-color: var(--blue);
}

small {
	color: var(--gray);
}

/* Medium and large viewports */
@media screen and (min-width: 1081px) {
	body {
		justify-content: space-between;
	}

	header, footer {
		height: 20vh;
		display: flex;
		flex-direction: column;
	}

	main {
		height: 30vh;
		justify-content: flex-start;
		line-height: 1.5;
	}

	main h1 {
		font-size: 2em;
		font-weight: 300;
	}

	main h1 .highlight {
		font-size: inherit;
		font-weight: 700;
	}

	main h2 {
		font-weight: 300;
		margin-bottom: 2%;
	}

	main form {
		height: 20%;
		font-size: 1.2vw;
		justify-content: center;
	}

	main form input[type=email] {
		padding: 0 5%;
	}

	main form input[type=submit] {
		padding: 0 15%;
		font-weight: 600;
		margin-left: 5%;
	}

	figure {
		margin: 5% 0;
	}
	
	figure img {
		width: 40%;
	}

	footer article a {
		padding: 0.5%;
		margin: 0 0.5%;
	}

	footer article i {
		font-size: 2vw;
	}

	footer small {
		font-size: 1vw;
		margin-top: 1%;
	}
}	

/* Mobile viewport settings. */
@media screen and (max-width: 1080px) {
	body {
		padding: 10% 10%;
		text-align: center;
	}

	header, footer {
		height: 20vh;
		display: flex;
		flex-direction: column;
	}

	header img {
		width: 30%;
	}

	main {
		line-height: 1.5;
	}

	main h1 {
		font-size: 4vh;
		font-weight: 300;
	}

	main h1 .highlight {
		font-size: inherit;
		font-weight: 700;
	}

	main h2 {
		font-size: 3vh;
		font-weight: 300;
	}

	main form {
		flex-direction: column;
		width: 100%;
		font-size: 3vh;
		margin: 10% 0;
	}

	main form input {
		padding: 3% 0;
	}

	main form input[type=email] {
		padding: 3% 10%;
	}

	main form input[type=submit] {
		margin-top: 5%;
	}

	figure {
		margin: 15% 0;
	}

	footer article a {
		padding: 2%;
		margin-left: 5%;
	}

	footer small {
		font-size: 2vh;
		margin-top: 5%;
	}
}
